
/*
=============== 
Variables
===============
*/
:root{
    --headerBg: #004DB3;
    --primary: #FFFF;
    --radius: 0.3125em;
    --button-padding: 10px 20px;
    --ring: #00C040;
    --circle: #FFBE4E;
    --section-one-bg: #CCDBF0;
    --speaker: #3FA96A;
    --speaker-bg: rgba(63, 169, 106, 0.2);
    --antenna: #F69E8E; 
    --antenna-bg: rgba(247, 158, 142, 0.2);
    --autoplay-bg: rgba(146, 105, 205, 0.2);
    --document: #5978CF;
    --document-bg: rgba(89, 120, 207, 0.2);
    --section-bg: #F8F9FC;
}
/*
=============== 
Global Styles
===============
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* nav styles */
a{
    text-decoration: none;
    color: #FFFF;
}
h1{
    font-size: 1.5rem;
    font-family: "Midnight Signature";
}
li{
    list-style: none;
}
.item{
    display: inline;
    padding: 0px 10px; 
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-block: 30px;
    padding-inline: 70px;
}
._btn {
    background-color: var(--primary);
    color: var(--headerBg);
    border: 2px solid var(--primary);
    padding: var(--button-padding);
    border-radius: var(--radius);
    font-size: 1rem;
}
.menu,.hero{
    background-color: var(--headerBg);
}
/* hero section styles */
.hero{
   display: flex;
   gap: 6.25em;
    
}
.my-ring {
    border: 2px solid var(--ring);
    border-radius: 50%;
    width: 16px;
    height: 16.7px;
  }
  .circle {
    width: 9.01px;
    height: 9.42px;
    border-radius: 50%;
    background-color: var(--circle);
    margin-left: 500px;
    margin-top: 10px;
}
.ring-circle{
    display: flex;  
}
.hero-container{
    width: 750px;
    position: relative;
    padding: 70px;
}
.grow-skills{
    font-size: 4rem;
    font-weight: 700;
    color: var(--primary);
    margin-block: 30px;

}
.build{
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary);
    text-transform: capitalize;
}
.zig-zag{
    position: absolute;
    left: 0;
    bottom: 48%;
}
.get-started-btn{
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
    padding: 10px 2.4em;
    border-radius: var(--radius);
    font-size: 1rem;
    margin-right: 1em;
    margin-block: 1em;
}
.frame{
    margin-left: -25px;
}
.img-previews{
    display: flex;
}
.previews{
   margin-left: 0.6em;
   margin-top: 0.5em;
}
.previews h3 {
    color: var(--primary);
    font-size: 900;
}
.previews p{
    color: var(--primary);
    font-size: 0.8rem;
}
.smiling-lady{
    width: 500px;
    height: 100%;
}
.bulb{
    width: 200px;
    height: 200px;
    position: absolute;
    left: -35px;
    top: 0;

}
.hero-images{
    position: relative;
}
.bigger-ring{
    border: 4px solid var(--ring);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50px;
    top: 200px;
}
.figma-logo{
    position: absolute;
    width: 93.6px;
    height: 93.6px;
    left: -50px;
    top: 350.57px;
}
.zig-arrow{
    position: absolute;
    left: -150px;
    top: 53.42%;
    width: 111.08px;
    height: 222px;
}
.position-circle{
    width: 9.01px;
    height: 9.42px;
    border-radius: 50%;
    background-color: var(--circle);
    position: absolute;
    left: 10.48%;
    bottom: 12.55%;
}
.visual-studio-logo{
    position: absolute;
    top: 1%;
    right: 5%;
    width: 93.6px;
    height: 93.6px;
}
.yellow-triangle{
    position: absolute;
    top: 220px;
    right: 50px;
  }
.wiki-logo{
    height: 80px;
    width: 80px;
    background-color: var(--primary);
    position: absolute;
    bottom: 10px;
    right: -5px;
    border-radius: var(--radius);
}
/* section one (grow your skills..) */
.section-one{
    background-color: var(--section-one-bg);
    display: flex;
    /* padding-inline: 10em; */
    justify-content: center;
}
.zoom{
    margin-right: 4em;
}
.stripe{
    margin-right: 4em;
}
.monday-logo{
    margin-top: 1.5em;
    margin-right: 0.5em;
}
.dot-com{
    margin-bottom: 0.5em;
}
.slack{
    margin-left: 4em;
    margin-top: 1.2em;
}
.slack-logo{
    margin-right: 0.5em;
}
.dropbox-logo{
    margin-right: 0.5em;
}

.dropbox{
    margin-top: 1.2em;
    margin-left: 4em;
}

/* section two(high quality..) */

.section-two{
    padding: 70px;
    background-color: #F8F9FC;
    display: flex;
    gap: 8em;
    position: relative;
}
.sectionTwo-container{
    position: relative;
    width: 43%;
    
}
.crown{
    position: absolute;
    top: -30px;
    left: -35px;
}

.high-quality{
    font-weight: 700;
    font-size: 3rem;
}
.high-definition{
    color: #A1A1A1;
    font-size: 0.8rem;
    margin-block: 1.5em;
}
.view-btn{
    color: var(--primary);
    background-color: var(--headerBg);
    border: 2px solid var(--primary);
    padding: var(--button-padding);
    border-radius: var(--radius);
    font-size: 1rem;
    margin-bottom: 1.5em;
}
.side-side{
    display: flex;
    gap: 3em;
    margin-bottom: 1em;
}
.shape{
    background-color: var(--primary);
    border: 2px solid var(--primary);
    padding: var(--button-padding);
    border-radius: var(--radius);
    width: 12.3em;
    display: flex;
    gap: 1em;
}
.default-shape{
    width: 1.698125em;
    height: 1.698125em;
    border-radius: 0.21em;
}
.speaker{
    background: var(--speaker-bg);
    color: var(--speaker);
}
.shape h5{
    display: flex;
    align-items: center;
}
.antenna{
    color: var(--antenna);
    background: var(--antenna-bg);
}
.grow{
    flex-grow: 0.3;
}
.autoplay-logo{
    background-color: var(--autoplay-bg);
}
.document{
    color: var(--document);
    background-color: var(--document-bg);
}
.images{
    display: flex;
    position: relative;
    z-index: 1;
}
.typing{
    position: absolute;
    bottom: -73px;
    left: -150px;
}
.small-images{
    background: var(--primary);
    height: 65.77px;
    border-radius: var(--radius);
    padding: 10px;
    position: absolute;
    top: 150px;
    left: -90px
}
.small-frameone{
    width: 38.08px;
    height: 38.08px;
}
.small-frame{
    margin-left: -18px;
    width: 38.08px;
    height: 38.08px;
}
.enrolled{
    font-style: normal;
    font-weight: 700;
    font-size: 10.1875px;
    line-height: 14px;
    text-align: center;
    text-transform: capitalize;
    color: #000F24;
}
.bubbles{
    position: absolute;
    bottom: -10px;
    right: -35px;
    z-index: -1;  
}
.right-zigzag{
    color:  #7FE8BF;
    position: absolute;
    right: 0;
    top: 20px;
}
.right-ring{
    position: absolute;
    right: 0;
    bottom: 0;
}

.sectiontwo-ring {
    position: absolute;
    right: 340px;
    bottom: 0;
    border: 2px solid #C8A1FD;
    border-radius: 50%;
    width: 10.2px;
    height: 10.2px;
}

/* section three styles */

.section-three{
    position: relative;
    padding: 70px;
    background-color: #F8F9FC;
    display: flex;
    gap: 18em;
}
.best-high{
    width: 38%;
    position: relative;
}
.we-best{
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    /* line-height: 4.375em; */
    color:#000F24;
}
.high-defi{
    color: #A1A1A1;
    font-size: 0.8rem;
    text-transform: capitalize;
    margin-block: 1.5em;
    text-align: center;
}
.section-circle{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--circle);
    margin-left: 200px;
    margin-bottom: 1em;
}
.green-triangle{
    position: absolute;
    left: -60px;
    bottom: 100px;
}
.frame-z{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-top: 4em;
    width: 100%;
}
.yellow-zigzag{
    position: absolute;
    top: 50px;
    right: 300px;
}
.main-box{
    padding: 10px;
    height: 300px;
    background: #FFFFFF;
    border-radius: 0.5em;
}

.heading{
    margin-block: 1em;
    text-transform: capitalize;
}
.paragh{
    color: #A1A1A1;
    font-size: 0.8rem;
    text-transform: capitalize;
    line-height: 1.875em;
}
.purple-ring{
    border: 2px solid #9143FD;
    border-radius: 50%;
    width: 16px;
    height: 16.7px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* SECTION-FOUR */
.section-four{
    display: flex;
    flex-direction: column;
    padding: 70px;
    background-color: var(--section-bg);
}
.browse{
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    text-transform: capitalize;
    color: #000F24;
    display: flex;
    justify-content: center;
}
.defination{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.defi{ 
    width: 45%;
}
.categories{
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-bottom: 2em;
}
.all-cat{
    width: 120px;
    height: 30px;
    padding: 5px;
    border-radius: 3px;
    background-color: #FFFF;
    margin-bottom: 0.5em;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 2em;
}
.box{
    padding: 15px;
    height: 576px;
    background: #FFFFFF;
    border-radius: 0.5em;
}
.grid-pic{
    width: 410px;
    height: 292px;
}
.design{
    background-color:  rgba(30, 93, 206, 0.2);
    padding: 4px 8px;
    border-radius: 12px;
    text-align: center;
}
.des-rating{
    display: flex;
    justify-content: space-between;
    margin-block : 1em;
}
.rating{
    font-weight: 700;
    font-size: 0.75rem;
    color: #A1A1A1;
}
.intro{
    font-size: 1.5rem;
    width: 85%;
    margin-bottom: 1em;
}
.schedule, .pic-name{
    display: flex;
    gap: 0.5em;
}
.schedule h4{
    font-weight: 500;
    color: #A1A1A1;
    width: 100%;
}
.clock-time-lesson{
    display: flex;
    justify-content: space-between;
   
}
.pic-name h4, .picname-price h3{
    display: flex;
    align-items: center;
}
.picname-price h3{
    color: #004DB3;
}
.picname-price{
    display: flex;
    justify-content: space-between;
    margin-block: 1em;
}

.explore-btn{
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 4px;
    background-color:#004DB3;
    color: #FFFF;
}

/* Section five */
.section-five{
   background-color: var(--section-bg); 
}

.defina{
    width: 40%;
}

.testimony-box{
    margin-top: 2em;
    display: flex;
    overflow: scroll;
    gap: 1em;
}
.testimony{
    background-color: #FFFFFF;
    border-radius: 1.5em;
    width: 550px;
    height: 190px;
    flex-shrink: 0;
    padding: 20px;
}
.testimony p{
    color: #A1A1A1;
    font-size: 0.8rem;
    text-align: left;
    
}
.img-name{
    display: flex;
    gap: 1em;
    margin-top: 0.5em
}
.name-role{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.name-role h6{
    color: #A1A1A1;
}
.scroll-buttons{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    padding-bottom: 2em;
}
.scroll-btn{
    width: 10px;
    height: 10px;
    background: #CCDBF0;
    border-radius: 12px;
}
.diff{
    background-color: #004DB3;
}
/* SECTION SIX */
.section-six{
    background-color: var(--headerBg);
    padding-bottom: 2em;
}
.community h5{
    color: #FFFFFF;
    text-align: center;
    padding: 2em;
}
.community h3{
    color: #FFFFFF;
    font-size: 2.5rem;
    text-align: center;
    width: 55%;
    margin: 0 auto;
}
.community p{
    color: #FFFFFF;
    text-align: center;
    margin-top: 1em;
}
.join-btn{
    background-color: #FFFFFF;
    padding: 10px 20px;
    color: #004DB3;
    width: fit-content;
    margin:  0 auto;
    border-radius: 4px;
    margin-top: 2em;
    text-transform: capitalize;
}

/* section seven */

.section-seven{
    background-color: var(--section-bg);
    position: relative;
    padding-bottom: 5.2em;
}
.faq h3{
    padding-top: 1em;
    text-transform: capitalize;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    color: #000F24;
}

.faq p{
    color: #A1A1A1;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 1.5em;
    text-transform: capitalize;
    width: 43%;
    margin: 0 auto;
}
.faq-ring{
    border: 3px solid #9143FD;
    border-radius: 50%;
    width: 16px;
    height: 16.7px;
    position: absolute;
    right: 120px;
    top: 50px;
}
.question{
    display: flex;
  justify-content: space-between;
}
.question span{
    display: flex;
    align-items: center;
}
.questions-ans{
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 30px;
    margin-top: 4em;
    
}
.questions-ans h5{
    font-size: 1.2rem;
    font-weight: 600;
    color: #004DB3;
    margin-bottom: 1em; 
}

.straight-line{
    border-top: 1px solid #EAEAEA;
    margin-top: 1.5em;
    padding-bottom: 1.5em;
}

/* footer */

.footer-container{
    background-color: #000F24;
    display: flex;
    gap: 4em;
    padding: 166px 80px 347px 80px;
}

.footer-content h1{
    color: #fff;
}
.footer-content p{
    color: #fff;
    width: 70%;
    margin-block: 25px;
}
.socials{
    display: flex;
    gap: 1.5em;
}

.links h4{
    font-size: 2rem;
    color: #ffff;
}
.links p{
    color: #ffff;
    margin-top: 25px;
}
.links input{
    background-color: transparent;
    border: 1px solid #054FB3;
    border-radius: 2px 0px 0px 2px;
    width: 190px;
    height: 50px;
}
.links button{
    color: #FFFF;
    border: 2px solid #054FB3 ;
    padding: 16px 20px;
    border-radius: 0px 2px 2px 0px;
    background-color: #054FB3;
}